
        * {
            padding: 0;
            margin: 0;

        }

        body {
            background-color: rgba(209, 162, 209, 0.5);
            align-items: center;
            justify-content: center;
            display: flex;
            font-family: 'Philosopher', sans-serif;
            font-weight: bold;
        }

        .container {
            position: relative;
            margin-top: 70px;
            width: 450px;
            height: auto;
            border: 1px solid white;
            border-radius: 5px;
        }

        .label {
            padding: 20px 100px;
            font-size: 50px;
            font-weight: bold;
        }

        .login_form {
            padding: 20px 40px 20px 40px;
            background-color: rgba(209, 162, 209, 0.5);
            font-family: 'Philosopher', sans-serif;

        }

        .login_form .font {
            font-size: 18px;
            margin: 5px 0;
        }

        .login_form input {
            height: 40px;
            width: 350px;
            padding: 0 5px;
            font-size: 18px;
            outline: none;
            border: none;
            border-radius: 5px;
            font-family: 'Philosopher', sans-serif;

        }

        .login_form #login-pass {
            height: 40px;
            width: 350px;
            padding: 0 5px;
            font-size: 18px;
            outline: none;
            border: none;
            border-radius: 5px;
            font-family: 'Philosopher', sans-serif;

        }

        .login_form .font2 {
            margin-top: 30px;
        }

        .login_form button {
            margin: 45px 0 30px 0;
            height: 45px;
            width: 365px;
            font-size: 20px;
            color: #fff;
            background-color: #04AA6D;
            outline: none;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            font-family: 'Philosopher', sans-serif;
        }

        .login_form #email_error{
            margin-top: -16px;
            width: 345px;
            font-size: 18px;
            color: #c62828;
            background-color: rgba(255, 0, 0, 0.1);
            padding: 5px 8px;
            border-radius: 3px;
            border: 1px solid#ef9a9a;
            display: none;
        }
        .login_form #pass_error {
            margin-top: 3px;
            width: 345px;
            font-size: 18px;
            color: #c62828;
            background-color: rgba(255, 0, 0, 0.1);
            padding: 5px 8px;
            border-radius: 3px;
            border: 1px solid#ef9a9a;
            display: none
        }

        p {
            font-size: 15px;
            text-align: center;
            padding-bottom: 20px;

        }

        a {
            text-decoration: none;
            color: rgb(27, 128, 223)
        }

        .ri-mail-fill {
            position: relative;
            top: -27px;
            left: 330px;
        }

      

        .pass_place{
            position: relative;
            top: 17.5%;
            bottom: 0;
            margin: auto 0;
            width: max-content;
            height: max-content;
        }

        .pass_place #login-eye{
            position: absolute;
            left: 92%;
            top: 24%;
        }
        
    